body {
    background-color: #1a1a1a;
}
.banner {
    width: 100%;
    margin-bottom: 50px;
}
.banner__title {
    width: 100%;

    text-align: right;
    padding-top: 100px;
    color: #fefefe;
    font-size: 72px;

    background-position: center center;      
    background-repeat: no-repeat;      
    background-attachment: fixed;      
    background-size: cover;
    background-image: url(../img/portrait/banner.jpg);            
    background-color: #262b2f;
}
.banner__bottom {
    display: flex;
    height: 450px;
}
.banner__sub-1 {
    flex: 1;
    height: inherit;

    background-position: center center;      
    background-repeat: no-repeat;      
    /* background-attachment: fixed;       */
    background-size: cover;
    background-image: url(../img/portrait/banner-sub-1.jpg);            
    background-color: #262b2f;
}
.banner__sub-2 {
    flex: 1;
    height: inherit;

    background-position: center center;      
    background-repeat: no-repeat;      
    /* background-attachment: fixed;       */
    background-size: cover;
    background-image: url(../img/portrait/banner-sub-2.jpg);            
    background-color: #262b2f;
}

.gallery-g {
    display: flex;
    justify-content: row;
    flex-wrap: wrap;
}
.gallery-g__item {
    width: 20%;
    min-width: 200px;
    height: 600px;
    padding: 10px 10px 10px 0;
}
.gallery-g__item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.gallery-g__item:last-child {
    padding-right: initial;
}

.gallery-f {
    overflow: hidden;
    display: flex;
    height: 1000px;
    margin-top: 50px;
}
.gallery-f img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.gallery-f__item {
    flex: 2;
    height: 1000px;
}
.gallery-f__right {
    flex: 3;
}
.gallery-f__right-top {
    display: flex;
    height: 50%;
}
.gallery-f__right-top img {
    flex: 1;
}
.gallery-f__right-bottom {
    height: 50%;
}

@media (max-width: 1550px) {
    .gallery-f__right-top img:nth-child(2) {
        display: none;
    }
}
@media (max-width: 1020px) {
    .gallery-g__item {
        width: 50%;
        height: 500px;
        padding: 10px;
    }
    .gallery-g__item:last-child {
        padding: 10px;
    }
}
@media (max-width: 512px) {
    .banner__title {
        font-size: 42px;
    }
    .banner__bottom {
        flex-direction: column;
    }
    .gallery-g__item {
        width: 100%;
        height: 500px;
    }
    .gallery-f {
        height: initial;
    }
    .gallery-f {
        flex-direction: column;
    }
}